@font-face {
  font-family: "CeraProThin";
  src: url("./../../assets/fonts/CeraProThin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CeraProReg";
  src: url("./../../assets/fonts/CeraProRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CeraProBlack";
  src: url("./../../assets/fonts/CeraProBlack.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.3;
  font-family: var(--font-family);
  color: var(--color-text);
  color-adjust: economy;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  -webkit-text-size-adjust: 100%; /* [4] */
  -ms-text-size-adjust: 100%; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [5] */
  -webkit-font-smoothing: antialiased; /* [5] */
  scroll-behavior: smooth; /* [6] */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "CeraProReg";
  background: #000;
  color: var(--text-color);
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
